<%- include('../partials/header') %>

<h3>Edit</h3>
<form action="/posts/<%= post._id %>?_method=PUT" method="POST">
  <label id="name" for="name">Name:</label>
  <input type="text" id="name" name="name" value="<%= post.name %>" />
  <br />
  <label id="location" for="location">Location:</label>
  <input
    type="text"
    id="location"
    name="location"
    value="<%= post.location %>"
  />
  <input id="update" type="submit" value="Update" />
</form>

<%- include('../partials/footer') %>
