<%- include('../partials/header') %>

<div id="welcome" class="container">
  <h1>Welcome to Search it!</h1>
  <p>
    A place where you can search for deaf-friendly businesses in your area or
    share your experience.
  </p>
  <p>The aim is to promote deaf-friendliness in your area.</p>

  <input
    type="text"
    name="search"
    placeholder="Business search..."
    autocomplete="off"
  />
  <input type="submit" value="Search" />
</div>
<div class="row">
  <% post.forEach(function(p) { %>
  <div class="col s4">
    <div class="row">
      <div class="col s2 m6">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">Card Title</span>
            <p><%= p.name %></p>
            <p><%= p.name %></p>
            <p><%= p.location %></p>
            <p><a href="/posts/<%= p._id %>">Details</a></p>
            <p><%= p.user[0].name %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% }); %>
</div>

<button><a href="/posts/new"> New Post</a></button>

<%- include('../partials/footer') %>
