<%- include('../partials/header') %>

<section id="show-page">
  <div>Name:</div>
  <div><%= post.name %></div>
  <div>Location:</div>
  <div><%= post.location %></div>
</section>

<h2>Reviews</h2>
<form
  id="add-review-form"
  method="POST"
  action="/posts/<%= post._id %>/reviews"
>
  <label>Experience:</label>
  <textarea name="content"></textarea>
  <label>User</label>
  <input type="text" name="user" value="<%= user %>" />
  <label>
    Rating:
</label>
<label>
  <span>
  <select name="rating">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </span>
  </select>
</label>
  <p><label>Skills</label></p>

  <br />
  <label>
    <input type="checkbox" name="skills" value="Positive Attitude" />
    <span>Positive Attitude</span> <br />
  </label>
  <label>
    <input type="checkbox" name="skills" value="Patience" />
    <span>Patience</span><br />
  </label>
  <label>
    <input type="checkbox" name="skills" value="Makes Eye Contact" />
    <span> Makes Eye Contact</span> <br />
  </label>
  <label>
    <input type="checkbox" name="skills" value="Speaks Clearly" />
    <span>Speaks Clearly</span><br />
  </label>
  <label>
    <input type="checkbox" name="skills" value="Pen and Paper Available" />
    <span>Pen and Paper Available</span><br />
  </label>
  <label>
    <input type="checkbox" name="skills" value="Willingness to Gesture" />
    <span>Willingness to Gesture</span><br />
  </label>
  <label>
    <input type="checkbox" name="skills" value="Knows Sign Language" />
    <span>Knows Sign Language</span><br />
  </label>
  <label>
    <input type="checkbox" name="skills" value="Displays Subtitles/Captions" />
    <span>Displays Subtitles/Captions</span><br />
  </label>
  <label>
    <input type="checkbox" name="skills" value="Schedule/Order On-line" />
    <span>Schedule/Order On-line</span><br />
  </label>
  <label>
    <input type="checkbox" name="skills" value="Assisted Listening Devices" />
    <span>Assisted Listening Devices</span><br />
  </label>
  <label>
    <input type="checkbox" name="skills" value="Accepts Relay Calls" />
    <span>Accepts Relay Calls</span><br />
  </label>
  <label>
    <input type="checkbox" name="skills" value="Experience Hiring Interpreter" />
    <span>Experience Hiring Interpreter</span><br />
  </label>
  <input type="submit" value="Add Review" value="" />
</form>

<% if (post.reviews.length) { %>
<table>
  <thead>
    <tr>
      <th>Experience</th>
      <th>Rating</th>
      <th>Skills</th>
      <th>User</th>
    </tr>
  </thead>
  <tbody>
    <% var total = 0 %> <% post.reviews.forEach(function(r) { %> <% total +=
    r.rating %>
    <tr>
      <td><%= r.content %></td>
      <td><%= r.rating %></td>
      <td><%= r.skills %></td>
      <td><%= r.user[0]%></td>

      <td>
        <form action="/posts/<%= r._id %>/reviews?_method=DELETE" method="POST">
          <button type="submit">
            Delete
          </button>
        </form>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>

<% } else { %>
<h5>No Reviews Yet</h5>
<% } %> <%- include('../partials/footer') %>
