<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Home</title>
  </head>
  <body>
    <section id="show-page">
      <div>Name:</div>
      <div><%= post.name %></div>
      <div>Location:</div>
      <div><%= post.location %></div>
    </section>

    <h2>Reviews</h2>
    <form
      id="add-review-form"
      method="POST"
      action="/posts/<%= post._id %>/reviews"
    >
      <label>Experience:</label>
      <textarea name="content"></textarea>
      <label>Rating:</label>
      <select name="rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
      <label>Skills</label>
      <input type="checkbox" name="skills" value="Positive Attitude" />
      Positive Attitude <br />
      <input type="checkbox" name="skills" value=" Patience" /> Patience <br />
      <input type="checkbox" name="skills" value=" Makes Eye Contact" /> Makes
      Eye Contact <br />
      <input type="checkbox" name="skills" value=" Speaks Clearly" />Speaks
      Clearly<br />
      <input
        type="checkbox"
        name="skills"
        value=" Pen and Paper Available"
      />Pen and Paper Available<br />
      <input
        type="checkbox"
        name="skills"
        value=" Willingness to Gesture"
      />Willingness to Gesture<br />
      <input type="checkbox" name="skills" value=" Knows Sign Language" />Knows
      Sign Language<br />
      <input
        type="checkbox"
        name="skills"
        value=" Displays Subtitles/Captions"
      />Displays Subtitles/Captions<br />
      <input
        type="checkbox"
        name="skills"
        value=" Schedule/Order On-line"
      />Schedule/Order On-line<br />
      <input
        type="checkbox"
        name="skills"
        value=" Assisted Listening Devices"
      />Assisted Listening Devices<br />
      <input
        type="checkbox"
        name="skills"
        value=" Accepts Relay Calls"
      />Accepts Relay Calls<br />
      <input
        type="checkbox"
        name="skills"
        value=" Experience Hiring Interpreter"
      />Experience Hiring Interpreter<br />

      <input type="submit" value="Add Review" />
    </form>

    <% if (post.reviews.length) { %>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Review</th>
          <th>Rating</th>
          <th>User</th>
        </tr>
      </thead>
      <tbody>
        <% var total = 0 %> <% post.reviews.forEach(function(r) { %> <% total +=
        r.rating %>
        <tr>
          <td><%= r.createdAt.toLocaleDateString() %></td>
          <td><%= r.content %></td>
          <td><%= r.rating %></td>
          <td><%= r.skills %></td>
          <td><%= r.user[0].name %></td>
          <td>
            <form
              action="/posts/<%= r._id %>/reviews?_method=DELETE"
              method="POST"
            >
              <button type="submit">
                Delete
              </button>
            </form>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <% } else { %>
    <h5>No Reviews Yet</h5>
    <% } %>
  </body>
</html>
